<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href= "/public/assets/styles.css" rel="stylesheet" type="text/css"/>
    <title>Your Cart</title>

</head>
<body>
    <h1>Shopping Cart</h1>
    <ul>
        <% items.forEach((item) => {%>
            <li>
                <a href="/products/<%= item.productID%>"><%= item.name%></a>
                <img src = <%= item.image %>>
                <p>Price: $<%= item.price %></p>
                <div class = "tracker">
                    <form action ="/products/cart/<%=item._id%>?_method=PUT" method="POST">
                        <input class="hide" type = "number" name="amount" id="amount"value="<%=item.amount+1%>"/>
                        <button type = "submit">+</button>
                    </form>
                    <h2><%=item.amount%></h2>
                    <% if (item.amount === 1) { %>
                        <form action ="/products/cart/<%=item._id%>?_method=DELETE" method="POST">
                            <button type = "submit">-</button>
                        </form>
                        <% } else { %>
                    <form action ="/products/cart/<%=item._id%>?_method=PUT" method="POST">
                        <input class="hide" type = "number" name="amount" id="amount"value="<%=item.amount-1%>"/>
                        <button type = "submit">-</button>
                    </form>
                    <% } %>
                </div>

                <form action ="/products/cart/<%= item._id%>?_method=DELETE" method="POST">
                    <button type="submit">Remove Item</button>
                </form>
                </li>
        <%}); %>
    </ul>
    <a href="/products">Continue Shopping</a>   

     <form action ="/products/search/">
     <input type="search" placeholder="Search groceries" id="myQuery" name="query">
     <button>Search</button>
    </form>
</body>
</html>