<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href= "/public/assets/styles.css" rel="stylesheet" type="text/css"/>
    <title>Products</title>

</head>
<body>
    <%- include('../partials/_navbar.ejs') //nav bar%>
    <h1>Products</h1>
    <!-- <ul> -->
        <% products.forEach((item) => {%>
            <!-- <li> -->
                <a href="/products/<%= item._id%>"><%= item.name%></a>
                <img src = <%= item.image %>>
                <!-- </li> -->
        <%}); %>
    <!-- </ul> -->
     <br>

    <br>
    <a href="/users/<%= currentUser._id %>/cart">View Your Cart</a> 

     <form action ="/products/search/">
     <input type="search" placeholder="Search groceries" id="myQuery" name="query">
     <button>Search</button>
    </form>
</body>
</html>