<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href= "/public/assets/styles.css" rel="stylesheet" type="text/css"/>
    <title><%= item.name %></title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') //nav bar%>
    <h1><%= item.name %></h1>
    <img src = <%= item.image %>>
    <p>Price: <%=item.price%></p>

    <!-- <p>cartObject: <%= //cartObject %></p> -->
    <!-- <p>cartObject_ID: <%= //cartObject._id %></p> -->
    <!-- <p>item: <%= //item %></p> -->
    <!-- <p>user: <%= //currentUser %></p> -->

    <% if (cartObject) { %>
        
        <div class = "tracker">
        <form action ="/users/<%= currentUser._id %>/cart/<%=cartObject._id%>?_method=PUT" method="POST">
            <input class="hide" type = "number" name="amount" id="amount"value="<%=cartObject.amount+1%>"/>
            <button type = "submit">+</button>
        </form>
        <h2><%=cartObject.amount%></h2>
        <% if (cartObject.amount === 1) { %>
            <form action ="/users/<%= currentUser._id %>/cart/<%=cartObject._id%>?_method=DELETE" method="POST">
                <button type = "submit">-</button>
            </form>
            <% } else { %>
                <form action ="/users/<%= currentUser._id %>/cart/<%=cartObject._id%>?_method=PUT" method="POST">
            <input class="hide" type = "number" name="amount" id="amount"value="<%=cartObject.amount-1%>"/>
            <button type = "submit">-</button>
        </form>
        <% } %>
    </div>
   <%} else {%>
    <form action ="/users/<%= currentUser._id %>/cart" method="POST">
        <input class="hide" type ="text" name="name" id="name" value="<%= item.name %>"/>
        <input class="hide" type ="text" name="productID" id="productID" value="<%= item._id %>"/>
        <input class="hide" type ="text" name="category" id="category"value="<%= item.category %>"/>
        <input class="hide" type ="number" name="price" id="price"value="<%= item.price %>"/>
        <input class="hide" type ="text" name="image" id="image"value="<%= item.image %>"/>
        <input class="hide" type = "number" name="amount" id="amount"value="1"/>
        <button type = "submit">Add to Cart</button>
    </form>
    <%} %>
    <a href="/products">Browse Store</a>  
    <br>
    <a href="/users/<%= currentUser._id %>/cart">View Your Cart</a>  
</body>


</form>
</html>

